<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chatbot.css') }}">
    <script defer src="{{ url_for('static', filename='markdownToHTML.js') }}"></script>
    <script defer src="{{ url_for('static', filename='chatbot.js') }}"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Chat about LLM</h1>
            <a href="/logs" class="logs-btn" target="_blank">Logs</a>

        </div>
        <div class="chat-window" id="chat-box"></div>
        <div class="button-container">
            <div class="response-size-container" style="display: none;">
                <input type="radio" id="shortResponse" name="responseSize" value="short">
                <label for="shortResponse" class="toggle-label">Breve</label>
                
                <input type="radio" id="mediumResponse" name="responseSize" value="medium" checked>
                <label for="mediumResponse" class="toggle-label active-option">Media</label>
                
                <input type="radio" id="longResponse" name="responseSize" value="long">
                <label for="longResponse" class="toggle-label">Lunga</label>
            </div>
            <div class="right-buttons">
                <button id="toggleSpeakBtn"><i class="fa fa-volume-up" id="fa-audio-element" aria-hidden="true"></i></button>
                <button id="resetBtn"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Scrivi un messaggio...">
            <button id="sendBtn"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            <button id="startBtn"><i class="fa fa-microphone" aria-hidden="true"></i></button>
        </div>
    </div>
</body>
</html>